<%- include("template/cabecera",{tituloweb: "Inmuebles"}) %>
  <body>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Direcci칩n</th>
                <th scope="col">Tipo</th>
                <th scope="col">Ba침os</th>
                <th scope="col">Habitaciones</th>
                <th scope="col">Metros Cuadrados</th>
                <th scope="col">Condici칩n en el mercado</th>
                <th scope="col">Precio</th>
                <th scope="col">Acci칩n</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayInmuebles.length >0) { %>
                    <% arrayInmuebles.forEach(inmueble => { %>
              <tr>
                <th scope="row"><%= inmueble.id %> </th>
                <td> <%= inmueble.direccion%></td>
                <td><%= inmueble.tipo%></td>
                <td><%= inmueble.banos%></td>
                <td><%= inmueble.habitaciones%></td>
                <td><%= inmueble.metros2%></td>
                <td><%= inmueble.condicion%></td>
                <td><%= inmueble.precio%></td>
              </tr> 
              <% }) %>    
            <% } %>
            </tbody>
          </table>
     
        
    </div>
  </body>
</html>